footer{
    margin-top: 50px;
    background-color: var(--detalhes--);
    height: 75px;
    text-align: center;
    padding: 3%;
}

.footer-icons{
    display: flex;
    margin-left: 45%;
}

a{
    color: black;
}